.bg-vh {
  background-image: url(/images/exhibition-1863344_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}
.a1 h2,
.a2 h2,
.a3 h2,
.a4 h2,
.a5 h2,
.a6 h2 {
  padding: 0;
}

.a1 {
  font-size: 2em;
  margin-top: 100px;
}

.a1::after {
  content: "";
  display: block;
  background-color: aliceblue;
  height: 950px;
  position: relative;
  filter: opacity(0.8);
  width: 1909px;
  z-index: -1;
  bottom: 910px;
}
.a2 {
  font-size: 1em;
  height: 800px;
  margin-bottom: 50px;
}
.a2::after {
  content: "";
  display: block;
  background-color: aliceblue;
  height: 650px;
  position: relative;
  filter: opacity(0.8);
  bottom: 630px;
  z-index: -1;
}
.a3 {
  font-size: x-large;
  height: 700px;
  margin-bottom: 50px;
  text-align: center;
}
.a3::after {
  content: "";
  display: block;
  background-color: aliceblue;
  height: 600px;
  position: relative;
  filter: opacity(0.8);
  bottom: 540px;
  z-index: -1;
}
.a4 {
  margin-bottom: 50px;
}
.a4 h2 {
  padding: 0px;
}

.a4::after {
  content: "";
  display: block;
  background-color: aliceblue;
  height: 600px;
  position: relative;
  filter: opacity(0.8);
  bottom: 575px;
  width: 1903px;
  z-index: -1;
}
.a5::after {
  content: "";
  display: block;
  background-color: aliceblue;
  height: 600px;
  position: relative;
  filter: opacity(0.8);
  bottom: 550px;
  width: 1903px;
  z-index: -1;
}

.a6::after {
  content: "";
  display: block;
  background-color: aliceblue;
  height: 650px;
  position: relative;
  filter: opacity(0.8);
  bottom: 600px;
  width: 1903px;
  z-index: -1;
}

#travle {
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
  margin-left: 150px;
}

#pos1 {
  align-self: center;
}

#box {
  background: aliceblue;
  align-self: center;
  border: black solid 15px;
  padding: 15px 0px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .bg-vh {
    background: black;
  }
  #travle {
    display: block;
    margin-left: auto;
  }
  #travle img {
    width: 360px;
  }
  .a1::after,
  .a2::after,
  .a3::after,
  .a4::after,
  .a5::after,
  .a6::after {
    width: auto;
    top: -630px;
  }
  .mapouter {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .bg-vh {
    background: black;
  }
  #travle {
    display: block;
    margin-left: auto;
  }
  #travle img {
    width: auto;
    margin: 25px 70px;
  }
  .mapouter {
    display: none;
  }
  .a1::after,
  .a2::after,
  .a3::after,
  .a4::after,
  .a5::after,
  .a6::after {
    width: auto;
    top: -630px;
    color: white;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .cta-inn {
    margin-left: -54px;
    padding: 10px 15px;
  }
}
