@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIOOaBXso.woff2)
    format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v10/NGSpv5_NC0k9P_v6ZUCbLRAHxK1EiSysd0mm_00.woff2)
    format("woff2");
}
:root {
  --main-text: "Heebo";
  --small-text: "Nunito";
  --babyblue: #2fadbe;
}
h2 {
  font-family: var(--main-text);
}

p {
  width: 500px;
  font-family: var(--small-text);
}

header {
  height: 125px;
  width: 100%;
  background-color: #2fadbe;
  display: flex;
}

.logo {
  display: inline-block;
  height: 125px;
  width: 125px;
}

.background-cosmo {
  background-image: url(/images/ivana-cajina-asuyh-_ZX54-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.dropbutton {
  background-color: #2fadbe;
  color: white;
  padding: 0px 16px;
  font-size: 16px;
  border: none;
  font-family: "Heebo", sans-serif;
  border-radius: 20px;
  margin-left: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 15px;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-items a:hover {
  background-color: rgb(180, 180, 180);
}

.dropdown:hover .dropdown-items {
  display: block;
}

.dropdown:hover .dropbutton {
  background-color: #bf4e43;
  padding: 16px;
}

.welcome {
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.welcome img {
  position: static;
  height: 400px;
  width: 80%;
  left: 190px;
}
