@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIOOaBXso.woff2)
    format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v10/NGSpv5_NC0k9P_v6ZUCbLRAHxK1EiSysd0mm_00.woff2)
    format("woff2");
}
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CWslu50.woff2)
    format("woff2");
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-display: swap;  src: url(https://fonts.gstatic.com/s/audiowide/v9/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2) format('woff2');}


html{
  max-width: 1900px;
  overflow-x: hidden;
  
}
.body-hp{
  background-color: #000000c2;
}
:root {
  --main-text: "Heebo";
  --small-text: "Nunito";
  --babyblue: #2fadbe;
  --menu-green: #26bf6d;
  --flex: flex: 1
}


h2 {
  font-family: var(--main-text);
}

p {
font-family: var(--small-text);
}

.grid-fp {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header header"
  "intro intro intro intro"
  "main main main main"
  "footer footer footer footer"
  ;
  margin: auto;
  
}
.grid-a1 {
 grid-area: main;
  margin-top: 38px;
 
  padding-top: 15px;
  
  
}
.grid-a1 p{
  width:500px;
  position: relative;
  left: 550px;
 
}

.grid-a2{
 grid-area: footer;
 display: flex;
 gap: 100px;
 margin-top: 100px;
margin-left: 100px;
}


header {
  grid-area: header;
  height: 125px;
  width: 100%;
  background-color: #2fadbe;
  display: flex;
  box-shadow: 0px 3px 6px 0px black;
  z-index: 2;
  justify-content: space-between;
  
}


ul{
  display: flex;
  height: 108px;
  width: 530px;
  gap: 70px;
}





.logo {
  display: inline-block;
  height: 125px;
  width: 125px;
}
.bg-intro{
  background-image: url(/images/anthony-delanoix-ae1zKHoreQ8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 900px;
  filter: brightness(50%);
}


.dropdb {
  background-color: #2fadbe;
  color: white;
  padding: 0px 16px;
  font-size: 20px;
  border: none;
  font-family: "Heebo", sans-serif;
  border-radius: 20px;
  height: 100px;

}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  align-self: center;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;  
}

.dropdown-items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-items a:hover {
  background-color: rgb(139, 134, 134);
}

.dropdown:hover .dropdown-items {
  display: block;
}

.dropdown:hover .dropdb {
 
  background-color: #26bf6d;
  box-sizing: border-box;
  width: 100%;


}

.overlay{
  content: "";
position: absolute;
bottom: 100%;
left: 0;
right: 0;
transition: ease .2s;
overflow: hidden;
background-color: var(--menu-green);
height: 0;
width: 100%;
}

.overlay:hover{
  bottom:0;
  height: 100%;
}




.welcome {
  
  grid-area: intro;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.intro-txt{
  width: 100%;
  margin: auto;
  color: rgb(235, 154, 32);
  
}
.intro-pos{
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 3em;
  font-family: var(--main-text);
  grid-area: intro;
  top: 250px;
}




.fp-img {
  height: 500px;
  width: 450px;
  border: solid white 20px;
}
p1{
  color: #f1f1f1;
}

.grid-a1-img{
  width: 500px;
  height: 500px;
  flex: 50%;
  margin-right: 300px;
  margin-top: 90px

}

.txt-fp {
  margin: auto;
  width: 85%;
  padding: 85px;
  color: white;
  border: solid;
  text-align: center;
}

.container {
  position: relative;
}
.txt-ff {
  color: white;
  text-decoration: bold;
  position: absolute;
  top: 160px;
  left: 550px;
  z-index: 2;
}
.fun-fact {
  text-align: center;
  position: absolute;
  top: 100px;
  left: 500px;
  width: 200px;
  height: 200px;
  display: block;
  background: red;
  border-radius: 100%;
  z-index: 1;
  color:white;
}
.fun-fact-1 {
  top: 110px;
  left: 480px;
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  background: green;
  border-radius: 100%;
  z-index: 0;
}
.fun-fact-2 {
  left: 600px;
  top: 100px;
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  background: purple;
  border-radius: 100%;
  z-index: 0;
}
.fun-fact-3 {
  top: 220px;
  left: 500px;
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  background: blue;
  border-radius: 100%;
  z-index: 0;
}
.fun-fact-4 {
  left: 620px;
  top: 220px;
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  background: yellow;
  border-radius: 100%;
  z-index: 0;
}

.fact{
  display:none;
}
.fun-fact:hover >  .fact{
  display: block;
  rotate: 180deg;
  padding: 100px;

}
.fun-fact:hover{
  width: 600px;
  height: 300px;
  transition: ease-out 1s;
  transform: rotate(180deg);
  z-index: 2;
  border-radius: 0%;
display:block;
  color:white;
}


.test-nav{
  position: relative;
  display: flex;
  gap: 100px;
  z-index: 1;
  
}


.s-nav{
  display: grid;
grid-area: intro;
margin-top: 500px;
margin-left: 150px;
  position: relative;
  border-radius: 15px;
  align-self: center;
}


.test-nav a{
  color: white;
  font-size: 25px;
  background-color: #eb9a20;
  align-self: center;
  padding: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;

}

.test-nav a:hover{
  background-color: black;
  color: #eb9a20;

}

@media screen and (min-width: 300px) and (max-width: 600px) {
}

@media screen and (min-width: 900px) {
}
