@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIOOaBXso.woff2)
    format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/heebo/v10/NGSpv5_NC0k9P_v6ZUCbLRAHxK1EiSysd0mm_00.woff2)
    format("woff2");
}
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlowsemicondensed/v6/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CWslu50.woff2)
    format("woff2");
}

@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/audiowide/v9/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2)
    format("woff2");
}

/*all*/
html {
  max-width: 1900px;
  overflow-x: hidden;
}
body {
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body-hp {
  background-color: #000000c2;
}

:root {
  --main-text: "Heebo";
  --small-text: "Nunito";
  --babyblue: #2fadbe;
  --menu-green: #26bf6d;
  --text: "Audiowide";
  --text-2: "Barlow Semi Condensed";
}
.box {
  margin-top: 25px;
}

input {
  display: block;
}

h2 {
  font-family: var(--main-text);
  position: relative;
  padding: 50px;
  text-align: center;
}

p {
  font-family: var(--small-text);
  max-width: 500px;
  margin: 25px auto;
}
header {
  grid-area: header;
  height: 125px;
  width: 100%;
  background-color: #2fadbe;
  display: flex;
  box-shadow: 0px 3px 6px 0px black;
  z-index: 2;
  justify-content: space-between;
}

.container-hbm {
  display: none;
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
  margin-top: -50px;
}
.hb-bar,
.hb-bar1,
.hb-bar2 {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.3s;
}

i {
  font-size: xx-large;
}

ul {
  display: flex;
  height: 108px;
  gap: 70px;
  list-style: none;
}

.logo {
  display: inline-block;
  height: 125px;
  width: 125px;
}

.dropdb {
  background: none;
  border: solid black;
  font-family: var(--small-text);
  line-height: 1;
  margin: 6px;
  padding: 35px 45px;
  transition: 0.5s;
  font-size: 20px;
}
.dropdown a {
  color: black;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  align-self: center;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-items a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:visited a {
  color: black;
}

.dropdown-items a:hover {
  background-color: rgb(139, 134, 134);
}

.dropdown:hover .dropdown-items {
  display: block;
}

.dropdown:hover .dropdb {
  box-shadow: inset 0 -6em 0 0 var(--menu-green);
}

/*Grids*/

.grid-a1 {
  grid-area: main;
  margin-top: 38px;
  padding-top: 15px;
}

.grid-a2 {
  grid-area: main-2;
  display: flex;
  gap: 100px;
  margin-top: 100px;
  margin-left: 100px;
  flex-wrap: wrap;
}

.grid-a3 {
  grid-area: event;
  display: flex;
  gap: 100px;
  margin-top: 100px;
  margin-left: 100px;
  flex-wrap: wrap;
}

/*main page*/

.menu-item,
.menu-item-2 {
  transition: all 1s ease;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
  background: gray;
  transform: 1s;
}
.menu-item img,
.menu-item-2 img {
  height: 400px;
  width: 500px;
}

.menu-item:hover,
.menu-item-2:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.menu-item,
.menu-item-2 p {
  font-size: 20px;
}

.bg-intro {
  background-image: url(/images/anthony-delanoix-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 900px;
  filter: brightness(50%);
  margin-top: -210px;
}

.welcome {
  grid-area: intro;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.intro-txt {
  width: 100%;
  margin: auto;
  color: rgb(235, 154, 32);
}
.intro-pos {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 3em;
  font-family: var(--main-text);
  grid-area: intro;
  top: 250px;
}

.fp-img {
  height: 400px;
  width: 500px;
}

p1 {
  color: #f1f1f1;
}

.txt-fp {
  margin: auto;
  width: 85%;
  padding: 85px;
  color: white;
  border: solid;
}

.container {
  position: relative;
}
.txt-ff {
  color: white;
  text-decoration: bold;
  position: absolute;
  top: 160px;
  left: 550px;
  z-index: 2;
}

.mid-nav {
  position: relative;
  display: flex;
  gap: 100px;
  z-index: 1;
}

.s-nav {
  display: grid;
  grid-area: intro;
  margin-top: 700px;
  margin-left: 150px;
  position: relative;
  border-radius: 15px;
  align-self: center;
}

.mid-nav a {
  color: black;
  font-size: 25px;
  background-color: #eb9a20;
  align-self: center;
  padding: 10px;
  width: 225px;
  text-align: center;
  text-decoration: none;
  font-family: var(--small-text);
}

.mid-nav a:hover {
  background-color: black;
  color: #eb9a20;
}
/*Cosmos*/
.bg-cos {
  background-image: url(/images/bryan-goff-RF4p4rTM-2s-unsplash\(1\).jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  z-index: 1;
}
#pos-txt {
  padding-left: 125px;
  padding-top: 125px;
}

.info-box-cos {
  height: 400px;
  width: 500px;
  left: 750px;
  top: 20px;
  z-index: 0;
  position: relative;
}

.planet {
  display: block;
  position: absolute;
  border-radius: 100%;
  height: 550px;
  width: 600px;
  background: whitesmoke;
  z-index: -1;
  border: orange solid 30px;
}

/*Evolution*/
.ev-bg::after {
  content: "";
  display: block;
  background-image: url(/images/boukaih-kelj-dino.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 1901px;
}

.boxses-size {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background: black;
  margin: 50px auto;
}
.boxses-size img {
  margin: 25px auto;
  width: 500px;
  height: 500px;
  border: white solid 3px;
}

.boxses-size-rev {
  flex-direction: row-reverse;
  margin-top: 100px;
}

.cta-inn {
  background: none;
  border: 3px solid var(--menu-green);
  font-family: var(--small-text);
  line-height: 1;
  margin: 6px;
  padding: 15px 30px;
  transition: 0.3s;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.cta-inn-don {
  border: 3px solid var(--menu-green);
  font-family: var(--small-text);
  line-height: 1;
  margin: 6px;
  margin-left: 300px;
  padding: 15px 75px;
  transition: 0.3s;
  font-size: 30px;
  color: black;
}

.cta-inn:hover,
.cta-inn-don:hover {
  box-shadow: inset 0 0 0 2em var(--menu-green);
}

.info-box-ev {
  background: #393939cf;
  padding: 20px;
  color: white;
  font-family: var(--small-text);
  margin: 70px auto;
  max-width: 800px;
}

/*ecology*/
.body-eco {
  margin: auto;
}
.divider-info {
  display: block;
  padding: 50px;
  color: white;
  background-color: black;
  text-align: center;
  margin: 100px auto;
  width: 100%;
}
.bg-eco::after {
  content: "";
  display: block;
  position: absolute;
  top: 125px;
  background: url(/images/ronan-furuta-sp.jpg);
  background-color: var(--menu-green);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-y: 20%;
  height: 600px;
  width: 1901px;
  z-index: -1;
}

.info-box-eco {
  background-color: rgba(98, 221, 49, 0.897);
  width: 700px;
  height: 500px;
  color: black;
  margin: 55px auto;
}
.info-box-eco h1 {
  text-align: center;
  font-size: xx-large;
  padding-top: 50px;
  font-family: var(--main-text);
}
.boxses-size-eco {
  display: flex;
  flex-wrap: wrap;
  background: rgb(250, 235, 31);
  margin: 50px auto;
  gap: 50px;
}
#box-size-2 {
  background-color: rgb(253, 167, 54);
}
#box-size-3 {
  margin: 25px 270px;
}

.boxses-size-eco img {
  height: 500px;
  width: 500px;
  margin: 25px 50px;
  border: green solid 10px;
}
/*Kids*/
.kids-bg {
  grid-area: explore;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/michael-van-kerckhove.jpg);
  height: 600px;
  text-align: center;
}
.info-box-kids {
  background: #464444d9;
  padding: 20px;
  color: yellow;
  font-family: var(--small-text);
  margin: 50px auto;
  max-width: 950px;
}
.info-box-kids img {
  height: 700px;
  width: 800px;
}
.kids-area {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 120px;
}
#kids-area-b1 {
  max-width: 900px;
  margin: auto;
  height: 700px;
  width: 1200px;
}
.info-box-sml {
  width: 410px;
  height: 550px;
  background-color: gray;
  margin: auto;
  text-align: center;
}
.info-box-sml img {
  width: 350px;
  height: 450px;
}
#cent-1 {
  margin: 45px 800px;
}

/*To-do*/

.txt-t-d {
  width: 500px;
  margin: 55px auto;
}

.txt-t-d article {
  margin-bottom: 60px;
}
/*research*/
.res-box {
  display: flex;
  gap: 50px;
  margin: 50px 75px;
}
.res-box img {
  height: 500px;
  width: 700px;
}
.vol-box {
  flex-direction: row-reverse;
  margin: 50px 100px;
  text-align: center;
}
.vol-box img {
  margin: 50px;
  height: 500px;
  width: 500px;
}
/*meds*/

.bg-meds {
  background-image: url(/images/william-bout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: -2;
  position: relative;
  padding-top: 20px;
}
.bg {
  background-color: #f0f8ffc4;
  height: 450px;
  width: 700px;
}

.info-box {
  max-width: 800px;
  margin: auto;
}
.info-box h1 {
  margin: 0px auto;
  text-align: center;
}

.meds-a1 {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  height: 1000px;
  color: white;
  background: black;
}
.meds-a2 {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  height: 1000px;
  color: white;
  background: black;
}

.box-med,
.box-med-2 {
  background-color: gray;
  width: 500px;
  height: 950px;
  border: white solid 5px;
}
.box-med img,
.box-med-2 img {
  height: 500px;
  width: 490px;
}
.container-med,
.container-med-2 {
  display: flex;
  gap: 500px;
  margin: 15px auto;
  height: 900px;
}
.container-med h2 {
  font-family: var(--main-text);
  position: relative;
  padding: 50px;
  text-align: center;
  font-size: 30px;
}
/*robots*/
.bg-robo {
  background-image: url(/images/michael-dziedzic-aQYgUYwnCsM-unsplash\(1\).jpg);
  background-repeat: repeat;
  background-size: contain;
  background-attachment: scroll;
  height: 500px;
}

.info-box-robo {
  background: #606060e5;
  padding-top: 100px;
  color: white;
  font-family: var(--small-text);
  margin: auto;
  max-width: 800px;
  height: 500px;
}
#robot {
  height: 1000px;
  width: 1200px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  header {
    display: block;
  }
  .container-hbm {
    display: inline;
    position: relative;
    left: 320px;
    top: -120px;
    z-index: 1;
  }
  .dropdb {
    padding: 15px 25px;
  }
  header nav {
    display: none;
  }
  header ul {
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: #2fadbe;
    height: 400px;
  }

  /*front-page*/
  .grid-fp {
    display: flex;
    flex-direction: column;
  }
  .bg-intro {
    height: 1150px;
  }

  .grid-a2,
  .grid-a3 {
    gap: 50px;
    margin-left: 30px;
  }
  .menu-item,
  .menu-item-2 {
    width: 300px;
  }

  img,
  .menu-item img,
  .boxses-size-eco img {
    height: 300px;
    width: 300px;
  }
  .intro-pos {
    font-size: 1em;
  }
  p {
    max-width: 300px;
    margin: 35px;
  }
  .s-nav {
    margin-top: 150px;
    margin-left: 40px;
  }

  .mid-nav {
    display: flex;
    flex-direction: column;
    top: -770px;
    right: 40px;
    gap: 50px;
  }
  .txt-fp {
    margin: auto;
    padding: 0px;
    width: auto;
  }
  .info-box-kids {
    text-align: inherit;
    height: auto;
  }
  .info-box-kids img,
  #kids-area-b1 {
    height: 400px;
    width: 320px;
  }
  .info-box-sml,
  .info-box-sml img {
    width: 300px;
  }
  .divider-info {
    margin-top: 170px;
  }
  #cent-1 {
    margin: 45px;
  }
  .res-box {
    display: inline-block;
    margin: auto;
  }
  .vol-box {
    display: inline-block;
    margin: 25px -20px;
  }
  /*visit*/
  #travle {
    flex-direction: column;
    gap: 50px;
  }
  /*cosmos*/
  .info-box-cos {
    top: 0px;
    left: -110px;
    background-color: gray;
    color: white;
    height: 100%;
  }
  .planet {
    display: none;
  }
  .boxses-size img {
    height: 300px;
    width: 300px;
  }
  /*meds*/
  .bg-meds {
    height: auto;
  }
  .info-box {
    max-width: 800px;
    margin: auto;
    background: #f0f8ffbd;
  }
  .info-box h1 {
    text-align: inherit;
  }
  .box-med,
  .box-med-2 {
    height: auto;
    width: auto;
    margin: 80px auto;
  }
  .box-med img,
  .box-med-2 img {
    width: 350px;
  }
  .container-med,
  .container-med-2 {
    display: inline-block;
    height: auto;
  }
  .a1,
  .a2 {
    height: auto;
  }

  /*robot*/
  #robot {
    width: 300px;
    height: 300px;
  }
  /*eco*/
  .bg-eco::after {
    right: 0px;
    width: 350px;
  }
  .info-box-eco {
    width: auto;
    height: auto;
  }
  .info-box-eco h1 {
    text-align: inherit;
  }
  .boxses-size-eco {
    flex-direction: row;
  }
  #box-size-3 {
    margin: 25px 50px;
  }
  /*contact*/
  .cta-inn-don {
    margin-left: 0px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .grid-fp {
    display: flex;
    flex-direction: column;
  }
  .container-hbm {
    display: inline;
    background-color: #2fadbe;
    position: relative;
    left: 610px;
    top: -120px;
    z-index: 1;
  }
  header {
    display: block;
  }
  header nav {
    display: none;
  }
  header ul {
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 430px;
    background-color: var(--babyblue);
  }
  .dropdb {
    padding: 15px 25px;
  }
  .grid-a1 {
    margin: auto;
  }
  .intro-pos {
    top: 100px;
    font-size: 2em;
  }
  .bg-intro {
    position: relative;
    top: -233px;
    height: -760;
  }
  .mid-nav {
    display: flex;
    gap: 55px;
    top: -690px;
    left: -30px;
    flex-wrap: wrap;
  }
  .s-nav {
    margin-top: 130px;
    margin-left: 40px;
  }

  img,
  .menu-item img {
    height: 350px;
    width: 350px;
  }
  .menu-item,
  .menu-item-2 {
    width: 350px;
    margin: auto;
  }
  /*Kids*/

  .info-box-kids img,
  #kids-area-b1 {
    width: 600px;
    height: 250px;
  }
  #cent-1 {
    margin: 60px auto;
  }
  .res-box {
    display: inline-block;
    margin: auto;
  }

  /*cosmos*/
  .info-box-cos {
    top: 0px;
    left: 0px;
    background-color: gray;
    color: white;
    height: 100%;
    width: 800px;
  }
  .planet {
    display: none;
  }
  /*meds*/
  .info-box {
    max-width: 800px;
    margin: auto;
    background: #f0f8ffbd;
  }
  .info-box h1 {
    text-align: inherit;
  }
  .box-med,
  .box-med-2 {
    height: auto;
    width: auto;
    margin: 80px auto;
  }
  .box-med img,
  .box-med-2 img {
    width: 350px;
  }
  .container-med,
  .container-med-2 {
    height: auto;
    gap: 10px;
  }
  .a1,
  .a2 {
    height: auto;
  }
  /*robots*/
  #robot {
    height: 500px;
    width: 500px;
  }
  /*eco*/
  #box-size-3 {
    margin: 25px 50px;
  }

  .boxses-size-eco img {
    height: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .grid-fp {
    display: flex;
    flex-direction: column;
  }
  .dropdb {
    padding: 15px 15px;
  }
  .welcome {
    margin-top: -350px;
  }
  .grid-a1 {
    margin-top: -552px;
  }
  .mid-nav {
    display: flex;
    gap: 55px;
    top: -890px;
    left: -80px;
    flex-wrap: wrap;
  }
  .intro-pos {
    top: 100px;
    font-size: 2em;
  }

  img,
  .menu-item img {
    height: 450px;
    width: 350px;
  }
  .menu-item,
  .menu-item-2 {
    width: 350px;
  }
  #cent-1 {
    margin: 45px 320px;
  }
  /*meds*/
  .container-med,
  .container-med-2 {
    height: auto;
    gap: 30px;
  }
  /*cosmos*/
  .info-box-cos {
    left: auto;
    margin: auto;
  }
  /*robots*/
  #robot {
    width: 500px;
    height: 500px;
  }
  /*eco*/
  .boxses-size-eco img {
    height: 450px;
    width: 450px;
  }

  #box-size-3 {
    margin: 25px 50px;
  }
}
